*, body, html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.inner-container{
    width: 80%;
    max-width: 90%;
}

li{
    list-style: none;
}

.white-content {
    background: #504f4f;
    color: #fff;
    transition: all 200ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}